@charset "UTF-8";
@import "main.css";
@import "font.css";
@import "reset.css";
@import "mobile.css";
@import "players.css";

body,
html {
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #eee;
  background-color: #222;
}

/* 모든 요소에 대해 드래그 시 배경은 검정, 글자는 흰색으로 설정 */
::selection {
  background-color: #000;
  /* 드래그 배경색 */
  color: #fff;
  /* 드래그 시 글자색 */
}

/* Safari(아이폰 등) 브라우저 대응을 위한 접두사 */
::-moz-selection {
  background-color: #000;
  color: #fff;
}



#header {
  width: 100%;
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 10;
  padding: 10px 10px;
}

.header-inner {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 50px;
  max-width: 1600px;
  margin: 0 auto;
}

.gnb {
  display: flex;
  align-items: center;
  gap: 50px;
  flex: 1;
  justify-content: center;
}

.gnb>ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.gnb ul li a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: opacity 0.3s;
}

.gnb ul li a:hover {
  opacity: 0.7;
}

.logo img {
  height: 50px;
  display: block;
  margin: 0 40px;
}

.visual-inner,
.visual-inner video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}



.footer {
  width: 100%;
  /* 40px 삭제! 다시 화면을 꽉 채웁니다 */
  padding: 40px 0;
  /* 위아래 여백을 50px에서 40px로 살짝 줄임 */
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
}

.footer-inner {
  /* 내부 요소들이 너무 퍼지지 않게 잡아줌 */
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-logo img {
  height: 40px;
  /* [중요] 아까 100px였던 로고를 40px 정도로 줄여보세요 */
  margin-bottom: 15px;
  /* 로고와 글자 사이 간격 */
  filter: brightness(0) invert(1);
  /* 로고가 검은색이라면 흰색으로 반전 */
}

.footer p {
  font-size: 12px;
  /* 글씨 크기를 살짝 더 줄여서 깔끔하게 */
  opacity: 0.6;
  /* 카피라이트는 약간 흐릿하게 하는 게 트렌디해요 */
  letter-spacing: 0.5px;
}